<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="ISO-8859-1"/>
  <link
      href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.18/c3.min.css"
      rel="stylesheet"
      type="text/css"
  />
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
  />

  <title>OpenLAP</title>

  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.18/c3.min.js"></script>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
  ></script>
  <style>
      .padTop {
          padding-top: 48px;
      }

      .padBottom {
          padding-bottom: 16px;
      }
  </style>
</head>
<body>
<div class="container padTop">
  <div class="row justify-content-sm-center padBottom">
    <div class="col col-lg-6" align="center">
      <h3>Q. [(${questionName})]</h3>
    </div>
  </div>
</div>
[(${questionCode})]
</body>
</html>
